body {
  background-color: #121212;
  color: #fff;
  margin: 0;
  font-family: "Chakra Petch", sans-serif;
}

header {
  border-bottom: 2px solid #070707;
  box-shadow: 40px 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 20px;
  font-size: 32px;
  color: #dc203c;
}

.categoriatext {
  background-color: #303030;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chamada-texto {
  margin-right: 5%;
}

h1 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 40px;
  text-align: center;
  color: #bf4545;
}

p {
  font-family: "Chakra Petch", sans-serif;
  font-size: 25px;
  color: #800080;
}

.categoria-videos {
  border-bottom: 1px solid #070707;
  display: flex;
  overflow-x: auto;
  gap: 12px;
  padding: 20px;
}

.categoria {
  flex-shrink: 0;
  text-align: center;
}

.categoria-videos img {
  width: 80%;
  height: auto;
  object-fit: cover;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.categoria-videos img:hover {
  opacity: 1;
}

.categoria h2 {
  color: #dc203c;
}

.segundo-titulo {
  font-family: "Chakra Petch", sans-serif;
}

.video__principal {
  border: 5px solid #800080;
}

@media (max-width: 768px) {
  .categoria-videos img {
    width: 100%;
    height: auto;
    border: 5px solid #800080;
  }

  .categoria {
    flex-basis: 100%;
  }

  .categoriatext {
    padding: 40px 0;
  }

  h1 {
    font-size: 30px;
  }

  p {
    font-size: 18px;
  }
}

#titulo-principal {
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  font-size: 40px;
  color: #bf4545;
}
#titulo-principal:hover {
  color: #000000;
  transform: scale(1.1);
  text-shadow: 0px 0px 10px #222222;
}
.segundo-titulo:hover {
  transform: translateY(-5px);
  color: #ea3208;
  box-shadow: 0px 5px 10px rgba(221, 5, 5, 0.551);
  text-decoration: none;
}
.segundo-titulo-1:hover {
  background-color: #aaca0b;
  box-shadow: 0px 5px 0px rgba(182, 214, 3, 0.2);
  color: #1fe205;
}
.segundo-titulo-1 {
  text-decoration: none;
  color: #dc203c;
  font-size: 24px;
}
.btn-hollow {
  cursor: pointer;
  transition: all 0.3s ease;
  color: #e71359;
  text-decoration: none;
}
.btn-hollow:hover {
  color: #d52020;
  transform: scale(1.1);
  text-shadow: 0px 0px 10px #a21313;
}
#castlevania:hover {
  transform: translateY(-5px);
  color: #ea3208;
  box-shadow: 0px 5px 10px rgba(221, 5, 5, 0.551);
  text-decoration: none;
  color: #dc203c;
}
#castlevania {
  text-decoration: none;
  color: #dc203c;
  font-size: 24px;
}
.categoria-videos-segundarios {
  border: 3px solid #030303;
}
#resposta {
  background-color: #000000; /* Verde */
  border-radius: 3px;
  color: rgb(105, 230, 9);
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  position: absolute;
  top: 9.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#pergunta:hover {
  color: #f22727;
  transform: scale(1.1);
  text-shadow: 0px 0px 10px #da0e0e;
}

body.button.troca-cores:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
button.troca-cores {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #a60303;
  color: #a6a6a6;
  border: none;
  height: 25px;
  font-size: 16px;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}
button:hover {
  background: #000000;
  color: #f0082e;
}
button:before,
button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #f20505;
  transition: 400ms ease all;
}
button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
button:hover:before,
button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

p#showUser {
  color: blanchedalmond;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #a6a6a6;
  height: auto;
  width: 255px;
  text-align: center;
  margin: auto;
  border-radius: 5px;
}
p#showUser:hover {
  background-color: lightgray;
  color: white;
  font-weight: bold;
}
.link-venom {
  text-decoration: none;
}
.link-venom:hover {
  background-color: lightgray;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: underline rgba(255, 0, 0, 0.356);
}
.link-venom:visited {
  color: green;
  background-color: yellow;
  font-weight: lighter;
}
.quadrado-um{
  width: 300px;
  height: 200px;
  background-color:   coral;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  border: #222222 solid 15px;
  border-style: double;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-quadrado{
  text-decoration: none;
  font-weight: lighter;
  color: cornflowerblue;
  
}
.link-quadrado:hover{
  background-color: aquamarine;
  border-radius: 10px;
}