body {
    background-color: #333;
    color: #fff;
    margin: 0;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: 2px solid #c414c4;
    text-align: center;
    padding: 20px;
    font-size: 32px;
    color: #dc203c;
}

.categoriatext {
    background-color: #ff7f7f;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-family: "Chakra Petch", sans-serif;
    font-size: 40px;
    text-align: center;
    color: #dc203c;
}

p {
    font-family: "Chakra Petch", sans-serif;
    font-size: 25px;
    color: red;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 12px;
    padding: 20px; 
}

.categoria {
    flex-shrink: 0; 
    text-align: center;
}

.categoria-videos img {
    width: 80%; 
    height: auto; 
    object-fit: cover; 
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}

.categoria-videos img:hover {
    opacity: 1;
}

.categoria h2 {
    color: #dc203c;
}

.segundo-titulo {
    font-family: "Chakra Petch", sans-serif;
}

.video__principal {
    border: 5px solid red;
}



@media (max-width: 768px) {
    .categoria-videos img {
        width: 100%; 
        height: auto; 
    }

    .categoria {
        flex-basis: 100%;
    }

    .categoriatext {
        padding: 40px 0;
    }

    h1 {
        font-size: 30px;
    }

    p {
        font-size: 18px;
    }
}
